name: "Checks"
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  checks:
    name: Checks
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - run: yarn install --frozen-lockfile
      - run: yarn run lint:check
      - run: yarn run prettier:check
